<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liked Books</title>
</head>
<body>
    <p>Here all the books and liked books will display</p>
    <h1>Users</h1>
    <ol>
        {% for user in users %}
            <li>{{user.first_name}} , {{user.last_name}}</li>
        {% endfor %}
    </ol>

    <h1>Books</h1>
    <ol>
        {% for book in books %}
            <li>Title of book:{{book.name}}</li>
            <li>Description:{{book.desc}}</li>
            <li>User who uploaded the book:{{book.uploader.first_name}}</li>
        {% endfor %}
    </ol>

    <h1>Reviews</h1>
    <ol>
        {% for review in reviews %}
            <li>Reviews:{{review.notes}}</li>
            <li>Reviewed by :{{review.reviewer.first_name}}</li>
            <li>Title of the book:{{review.book.name}} </li>
        {% endfor %}
    </ol>



</body>
</html>