<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
        <header>
                <h1>User dashborad</h1>
                <a href="/user"> {{current_user.first_name}}</a>
                <br>
                <a href="/logout">logout</a>
                <a href="/books">click here to go back Home</a>
        </header>
        
    <p>This is a specific book page with its own review</p>
    <!-- add more here -->
    <ol>
        {%for review in reviews%}
            <li>reviews: {{review.notes}}</li>
            <li>done by :{{review.user.first_name}}</li>
            <li> Title : {{review.book.title}}</li>
        {%endfor%}
    </ol>

</body>
</html>