<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NINJA GOLD</title>
    
    </head>
  <body>
    <div class="wrapper">

<div class="farms">
        <p>Total: {{request.session.total}}</p>

    <br>
    <form action="/process" method="post">{% csrf_token %}
        <label for="farm">FARM</label>
        <br>
        (earn 10-20 gold)
        <input type="hidden" name="building" value='farm' />
        <br><br>
        <input type="submit" value="Find Gold!"/>
    </form>
    <br><br>
    <form action="/process" method="post">{% csrf_token %}
        <label for="farm">CAVE</label>
        <br>
        (earn 80-90 gold)
        <input type="hidden" name="building" value="cave" />
        <br><br>
        <input type="submit" value="Find Gold!"/>
    </form>
    <br><br>
    <form action="/process" method="post">{% csrf_token %}
        <label for="farm">HOUSE</label>
        <br>
        (earn 15-30 gold)
        <input type="hidden" name="building" value="house" />
        <br><br>
        <input type="submit" value="Find Gold!"/>
    </form>
    <br><br>
    <form action="/process" method="post">{% csrf_token %}
        <label for="farm">CASINO</label>
        <br>
        (earn 0-50 gold)
        <input type="hidden" name="building" value="casino" />
        <br><br>
        <input type="submit" value="Find Gold!"/>
    </form>
    <br><br>
    <form action="/clear" method="post">{% csrf_token %}
        <input type="submit"  name='clear' value="clear">
    </form>

</div>
<p>Activites</p>
<div class=" activities">
    {% if request.session.activities %}
    {% for i in request.session.activities %}
    <p>{{i}}</p>
    {% endfor %}
{% endif %}

</div>
</div>   
  
  </body>
</html> 

